<div class="col-xs-8 col-xs-offset-2">
	<div class="page-header">
		<h3>Editar el perfil público</h3>
		<%= link_to "Ver perfil", @profile, class:"btn btn-default" %>
	</div>
	<%= render 'form' %>
</div>