<div class="col-xs-8 col-xs-offset-2">
	<div class="page-header">
		<h3>Editar el perfil público</h3>
	</div>
	<%= render 'form' %>

	<%= link_to 'Show', @profile %> |
	<%= link_to 'Back', profiles_path %>

</div>