<div class="center white-text">
  <h1>Anunciate con Nosotros</h1>
  
</div>

<style media="screen">
  body {
    background-image: url("https://1.bp.blogspot.com/-DcHm_NWYQmQ/V83zItywmwI/AAAAAAAACFI/ggNrVTOdUY8e6SVt2XpT-Rh6bEeTdyk3wCPcB/s1600/concepcion.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    left: 0;
    right: 0;
    background-position: center;
  }

  @media only screen and (max-width: 320px) {
    body { font-size: 2em; }
  }
</style>