<div class="container">
<div class="center">
    <h2><em>Resultados de la busqueda: <b><%= params[:query] %></b></em></h2>
</div>
  <h3>Ofertas</h3>
  <div class="row">
    <% @search.each do |offer| %>
    <% if is_offer?(offer) %>


    <%= render partial:'offers/offer', locals:{offer: offer} %>

    <% end %>
    <% end %>

  </div>

  <h3>Perfiles</h3>
  <div class="row">
    <% @search.each do |profile| %>
    <% if is_profile?(profile) %>
    <%= render partial:'menus/search/profile', locals:{profile: profile} %>
    <% end %>
    <% end %>
  </div>

</div>