<div class="container">
	<div class="row" style="margin-top:3%;">
		<div class="col s6 center">
			<a href="/surveys">
				<img src="/assets/icons/survey.png" class="responsive-img">
			</a><br>
			 <b>Crea encuestas</b>
		</div>
		<div class="col s6 center">
			<img src="/assets/icons/statistics.png" class="responsive-img"><br>
			<b>Revisa estadísticas</b>
		</div>
	</div>
</div>