  <div class="center white-text">
    <h2>Bienvenido</h2>
    <h1><%= get_user_name(current_user) %></h1>

    <p>
      Estamos muy contentos de que formes parte de nuestra comunidad.
      Eres el usuario número <b><%= current_user.id %></b>. ¡Emocionante!
    </p>
    <p>
      Hay mucho por descubrir y compartir.
    </p>

    <b><h3>Nicaragua Live te recomienda:</h3></b>
    <div>
    <%= render partial:'welcome/promo_profiles', locals:{promoved_profiles: @promoved_profiles} %>
    </div>
    <div>
      <h3><b>Tambien puedes: </b></h3>
      <%= link_to "Crear un perfil", new_clientprofile_path, class:"btn btn-lg btn-primary" %>
    </div>
  </div>


  <style media="screen">
    body {
      background-image: url("https://1.bp.blogspot.com/-DcHm_NWYQmQ/V83zItywmwI/AAAAAAAACFI/ggNrVTOdUY8e6SVt2XpT-Rh6bEeTdyk3wCPcB/s1600/concepcion.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      left: 0;
      right: 0;
      background-position: center;
    }

    @media only screen and (max-width: 320px) {
      body { font-size: 2em; }
    }
  </style>
