    <ul class="collection">
      <li class="collection-item">
        <div class="center">
          <%= image_tag(event.cover, class:"responsive-img") %>
          <span class="span-cover">
            <div class="span-text">
              <h5><%= event.title %></h5>
              <div class="truncate">
                <%= event.description %>
              </div>
              
            </div>
          </span>
        </div>
      </li>
    </ul>
