<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Perfil</a></li>
    <li role="presentation"><a href="#user" aria-controls="user" role="tab" data-toggle="tab">Acceso</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active container" id="profile">
      <%= render '/profiles/form' %>
    </div>
    <div role="tabpanel" class="tab-pane fade container" id="user">
      <%= render '/devise/registrations/form' %>
    </div>
    </div>

</div>