<div class="panel panel-success">
	<div class="panel-heading">
		<%= avatar_user(comment.user) %>
		<b><%= link_to_user(comment.user) %></b>
		<%= delete_comment(comment) %>
	</div>
	<div class="panel-body">
		<%= comment.body %>
	</div>
</div>