<div class="container">
  <h4>Categorías</h4>

<table class="striped">
  <thead>
    <tr>
        <th data-field="id">Nombre</th>
        <th data-field="name">Icono</th>
        <th data-field="price">Editar</th>
    </tr>
  </thead>
  <tbody>
  <% @categories.each do |category| %>
    <tr>
        <td> <%= category.name %> </td>
        <td> <%= icon(category.icon) %> </td>
        <td> <%= link_to "Editar",[:edit, category], class:"btn red" %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
