<div class="row s12">
  <ul class="tabs tabs-demo z-depth-1">
    <li class="tab col s3">
      <a href="#tab_categorias">CATEGORIAS</a>
    </li>

    <li class="tab col s3">
      <a href="#tab_users">USUARIOS</a>
    </li>

  </ul>
</div>

<p id="notice"><%= notice %></p>

<div id="tab_categorias" class="col s12">
  <%= render "categories" %>
</div>

  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a href="panels/new" class="btn-floating btn-large red">
      <%= icon('pencil') %>
    </a>
  </div>

</div>
