<div class="container">
	<h4>Agregar una nueva pelicula</h4>	
	<div class="row">
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s3"><a href="#test1">Película</a></li>
				<li class="tab col s3"><a href="#test2">Salas de Cine</a></li>
			</ul>
		</div>
		<%= render 'form' %>
	</div>
	<%= link_to 'Back', movies_path %>
</div>