<h5>Cupones</h5>
<% if client_signed_in? %>
<%= render @client_coupons %>
<% end %>
<%  @coupons.each do |coupon| %>
	<%= coupon.code %>
	<%= link_to("Reclamar", redeem_path(coupon_id: coupon.id) , method: :post) %>
<% end %>