<div class="container">
    <h4>Crear Cupón</h4>
<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <%= render 'form', coupon: @coupon %>    
</div>

<div class="center col-xs-12">
    <%= link_to 'Volver', coupons_path %>
</div>

</div>