<div class="container">
	<h4>Crear un Cupón de descuento</h4>
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
						<%= render 'form' %>
			</div>
		</div>
	<%= link_to 'Volver', coupons_path %>
</div>
