	<h2> Nicaragua Live: Condiciones generales de uso y política de privacidad </h2>

		<h3> 1. Términos </h3>

		  <p> Al acceder al sitio web en <a href="http://nica-live.com"> http://nica-live.com </a>, usted acepta estar obligado por estos términos de servicio, todas las leyes y reglamentos aplicables, y acepta que es responsable del cumplimiento de las leyes locales aplicables. Si no está de acuerdo con cualquiera de estos términos, está prohibido el uso o acceso a este sitio. Los materiales contenidos en este sitio web están protegidos por derechos de autor y de marcas registradas. </p>

		<h3> 2. Licencia de uso </h3>

		  <ol type = "a">
			    <li>
				      Se concede permiso para descargar temporalmente una copia de los materiales (información o software) del sitio web de <b>Nicaragua Live</b> para transitoria personal, no comercial únicamente. Esta es la concesión de una licencia, no una transferencia de título, y bajo esta licencia NO podrá:

				      <ol type = "i">
					        <li> modificar o copiar los materiales; </li>
					        <li> utilizar los materiales para cualquier propósito comercial, o para cualquier exhibición pública (comercial o no comercial); </li>
					        <li> intentar descompilar o realizar ingeniería inversa cualquier software contenido en el sitio web de <b>Nicaragua Live</b>; </li>
					        <li> eliminar cualquier derecho de autor u otros notaciones de propiedad de los materiales; o </li>
					        <li> transferir el material a otra persona o "espejo" de los materiales en cualquier otro servidor; </li>
							<li> compartir material no autorizado o considerado ILEGAL en la jurisdicción de la Repúlica de Nicaragua; </li>
				      </ol>
			    </li>
			    <li> Esta licencia terminará automáticamente si usted viola cualquiera de estas restricciones y puede ser denunciado por <b>Nicaragua Live</b> en cualquier momento. Al terminar su visión de estos materiales o al término de esta licencia, deberá destruir cualquier material descargado en su poder ya sea en formato impreso o electrónico. </li>
		  </ol>

		<h3> 3. Exención de responsabilidad </h3>

		  <ol type = "a">
			    <li> Los materiales en el sitio web de <b>Nicaragua Live</b> se proporcionan en un "tal cual". <b>Nicaragua Live</b> no ofrece ninguna garantía, expresa o implícita, y por la presente renuncia y niega todas las otras garantías, incluyendo, sin limitación, las garantías implícitas o condiciones de comerciabilidad, adecuación para un propósito particular o no infracción de la propiedad intelectual o cualquier otra violación de los derechos. </li>
			    <li> Además, Nicaragua Live no garantiza ni hace ninguna representación con respecto a la exactitud, los resultados probables, o la fiabilidad de la utilización de los materiales en su sitio web o de otro tipo relativa a los materiales o en cualquier sitio ligado a este sitio. </li>
		  </ol>

		<h3> 4. Limitaciones </h3>

		  <p> En ningún caso <b>Nicaragua Live</b> o sus proveedores serán responsables por cualquier daño (incluyendo, sin limitación, daños por pérdida de datos o beneficios, o debido a la interrupción del negocio) que resulten del uso o la imposibilidad de usar los materiales en Nicaragua la página web de tensión incluso cuando <b>Nicaragua Live</b> o un representante autorizado en Nicaragua Live ha sido notificado en forma oral o por escrito de la posibilidad de tales daños. Debido a que algunas jurisdicciones no permiten limitaciones en garantías implícitas o limitaciones de responsabilidad por daños indirectos o incidentales, estas limitaciones pueden no aplicarse en su caso. </p>

		<h3> 5. La exactitud de los materiales </h3>

		  <p> Los materiales que aparecen en el sitio web de <b>Nicaragua Live</b> podrían incluir aspectos técnicos, tipográficos o fotográficos puden contener errores. <b>Nicaragua Live</b> no garantiza que cualquiera de los materiales en su sitio web sea precisa, completa o actualizada. <b>Nicaragua Live</b> puede hacer cambios a los materiales contenidos en su sitio web en cualquier momento sin previo aviso. Sin embargo <b>Nicaragua Live</b> no tiene ningún compromiso de actualizar los materiales. </p>

		<h3> 6. Enlaces </h3>

		  <p> <b>Nicaragua Live</b> no ha revisado todos los sitios vinculados a su sitio web y no es responsable de los contenidos de dicho sitio. La inclusión de estos vínculos no implica aprobación por parte de <b>Nicaragua Live</b> del sitio. El uso de cualquier sitio web vinculado corre por cuenta y riesgo del usuario. </p>

		<h3> 7. Las modificaciones </h3>

		  <p> <b>Nicaragua Live</b> puede revisar estos términos de servicio para su sitio web en cualquier momento sin previo aviso. Mediante el uso de este sitio web usted acepta estar obligado por la versión actual de estos Términos de servicio. </p>

		<h3> 8. Ley aplicable </h3>

		  <p> Estos términos y condiciones se regirán e interpretarán de acuerdo con las leyes de Nicaragua y se someten irrevocablemente a la jurisdicción exclusiva de los tribunales de ese Estado o lugar. </p>