<ul class="tabs">
	<% if user_signed_in? %>
	<li class="tab col s7"> <a href="#tab1">Mis Publicaciones</a> </li>
	<li class="tab col s7"> <a href="#tab2">Favoritos</a> </li>
	<li class="tab col s7"> <a href="#tab3">Reciente</a> </li>

	<% else %>
		<li class="tab col s7"> <a href="#tab1">Inicio</a> </li>
		<li class="tab col s7"> <a href="#tab2">Favoritos</a> </li>
		<li class="tab col s7"> <a href="#tab3">Recomendados</a> </li>
	<% end %>
</ul>
