<ul class="tabs">
	<% if user_signed_in? %>
	<li class="tab col s7"> <a href="#tab1">Mis Publicaciones</a> </li>
	<li class="tab col s7"> <a href="#tab2">Favoritos</a> </li>
	<li class="tab col s7"> <a href="#tab3">Reciente</a> </li>

	<% else %>
		<li class="tab col s7"> <a href="#tab1">Inicio</a> </li>
		<li class="tab col s7"> <a href="#tab2">Favoritos</a> </li>
		<li class="tab col s7"> <a href="#tab3">Recomendados</a> </li>
	<% end %>
</ul>

<div class="container">

<div id="tab1" class="col s12">
	<div>
		<%= render "posts" %>
	</div>
</div>

<div id="tab2" class="col s12">
	<!--Tarjetas-->
	<div class="card">
		<div class="car-content">
			Esta es una tarjeta vacia
			que muestra contenido favorito
		</div>
	</div>
	<!--Tarjetas-->
</div>

<div id="tab3" class="col s12">
	<!--Tarjetas-->
	<% @posts.order("created_at desc").limit(4).each do |post| %>
	<div class="card">
		<div class="car-content">
			<%= post.title %>
		</div>
	</div>
	<% end %>
	<!--Tarjetas-->
</div>
</div>
