<div class="container">
<!--Tarjetas-->
<h5>Recomendados</h5>
  <%= render 'promo_profiles' %>
  <% if client_signed_in? or user_signed_in? %>
  <h5>Inicio</h5>
    <%= render @posts %>
    <% else %>
    <h5>Tendencias</h5>
    <%= render @posts.sort_by { |post| post.hearts.count }.reverse %>
<% end %>

<div class="center">
 <ul class="pagination center">
  <div class="apple_pagination">
    <%= will_paginate @posts, container: false %>
  </div>
</ul>
</div>


</div>
