
<!--Tarjetas-->
<%= %>

<%= render partial: "posts" %>

    </div>
    <% if user_signed_in? %>
  	  <div class="z-depth-1">
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
          <a href="#modal1" class="modal-trigger btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>

        </a>
  	  </div>
  	<% end %>

    <%= render "posts/form" %>

<script type="text/javascript">
$('.modal-trigger').leanModal({
    dismissible: true,
    opacity: 0.5,
    in_duration: 300,
    out_duration: 200,
    ready: function() {
        if($(".lean-overlay").length > 1) {
            $(".lean-overlay:not(:first)").each(function() {
                $(this).remove();
            });
        }
    },
    complete: function() {
        $(".lean-overlay").each(function() {
            $(this).remove();
        });
    }
});
</script>
