<div class="container">
	<div class="page-header"><h2> Política de privacidad </h2></div>

	  <p> Su privacidad es importante para nosotros. </p>

	  <p> Es política de <b>Nicaragua Live</b> a respetar su privacidad con respecto a cualquier información que sea al tiempo de operar el sitio web. En consecuencia, hemos desarrollado esta política de privacidad para que entienda como recogemos, utilizamos, comunicamos, revelar y hacer uso de la información personal. Hemos esbozado nuestra política de privacidad a continuación. </p>

	  <ul>
		    <li> Se recopilará información personal por medios legítimos y justos y, en su caso, con el conocimiento o consentimiento de la persona en cuestión. </li>
		    <li> Antes o en el momento de la recogida de información personal, identificaremos los fines para los que está siendo recopilada. </li>
		    <li> Vamos a recoger y utilizar la información personal únicamente para cumplir con los fines especificados por nosotros y para otros fines auxiliares, a menos que obtener el consentimiento de la persona en cuestión o de lo requerido por la ley. </li>
		    <li> Los datos personales deben ser pertinentes a los fines para los que se va a utilizar, y, en la medida necesaria para esos fines, debe ser precisa, completa y actualizada. </li>
		    <li> Vamos a proteger la información personal mediante el uso de medidas de seguridad razonables contra pérdida o robo, así como el acceso no autorizado, revelación, copia, uso o modificación. </li>
		    <li> Vamos a poner a disposición de los clientes información acerca de nuestras políticas y prácticas relativas a la gestión de información personal. </li><br>
		    <li> Sólo se retendrá información personal durante el tiempo que sea necesario para el cumplimiento de dichos fines. </li>
	  </ul>

	  <p> Estamos comprometidos a llevar a cabo nuestro negocio de acuerdo con estos principios con el fin de garantizar que la confidencialidad de la información personal está protegida y mantenida. <b>Nicaragua Live</b> puede cambiar esta política de privacidad de vez en cuando a criterio exclusivo de <b>Nicaragua Live</b>. </p>

</div>