<div class="container">
  <% @events.each do |event| %>
  <div id="event-view">
  </div>
  <script>
    if (document.body.offsetWidth <= 481) {
     $('#event-view').append('<%=j render "events/sizes/movile", event: event %>');
   } else {
     $('#event-view').append('<%=j render "events/sizes/desktop", event: event %>');
   }
 </script>
 <% end %>
</div>
