<div class="container">
  <% @wikis.each do |wiki| %>
    <ul class="collection">

      <li class="collection-item">
        <b><%= wiki.title %></b>
      </li>

      <li class="collection-item">
        <%= image_tag wiki.cover.url(), class:"responsive-img"%>

        <p class="overflow"><%= wiki.body %></p>
        <%= link_to "Ver más", wiki %>
        </div>
      </li>

    </ul>
  <% end %>
</div>
