<div class="col-xs-8 col-xs-offset-2">
	<div class="page-header">
		<h3>Ofrecer Producto o Servicio</h3>
	</div>

	<%= render 'form' %>
	<br>
	<%= link_to 'cancelar', offers_path, class:"btn btn-default" %>
</div>
