<div class="container">
  <h5>Editar</h5>

  <%= render 'form' %>

  <%= link_to 'Show', @item %> |
  <%= link_to 'Back', items_path %>

  <!-- Initialize category selector -->
  <script type="text/javascript">
    $(document).ready(function() {
        $('select').material_select();
      });
  </script>

</div>
