<div class="container">
  <h4>Publicar</h4>

  <%= render 'form' %>

<p>
  <br>
    <%= link_to 'Volver', markets_path, class:"btn red" %>
</p>

</div>
<!-- Initialize category selector -->
<script type="text/javascript">
  $(document).ready(function() {
      $('select').material_select();
    });
</script>
