    <div class="row">
      <% if client_signed_in? or user_signed_in? %>
      <%= render '/comments/form' %>
      <% else %>
      <%= link_to "Inicia sesión", new_client_session_path %> para dejar un comentario
      <% end %>
    </div>
    <b> <%= @post.comments.count %> Comentarios</b>
    <% @post.comments.each do |comment| %>
      <%= render partial:'/comments/comments', locals:{comment: comment} %>
    <% end %>
