<div style="margin-left:5%; margin-right:5%;">
  <%= form_for @post, :html => { :class => 'form-horizontal', multipart: true }, :authenticity_token => true do |f| %>


      <div class="row">
        <div class="input-field col s12">
          <%= f.text_area :body,class:"materialize-textarea", length:"180", input_html: { hidden: true } %>
          <label for="textarea1">Escribir publicación</label>
        </div>
      </div>

      <div class="file-field input-field">
      <div class="btn">
        <span>Imagenes</span>
        <input type="file" multiple>
             <%= file_field_tag "images[]", type: :file, multiple: true, input_html: { hidden: true }%>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Seleccione uno o mas archivos">
      </div>
    </div>

  <div class="actions">
    <%= f.submit "Publicar", class:"btn blue" %>
  </div>

<% end %>
</div>
