<% if my_post?(post) %>
<div class="dropdown pull-right">
  <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= pin_post(post) %> <%= icon('star') %> </li>
    <li><%= post_edit(post) %></li>
    <li><%= post_delete(post) %></li>
  </ul>
</div>  
<% end %>
