$("#categories_table").html("<%= escape_javascript(render partial:'menus/admin_panel/categories', locals:{categories: @categories} ) %>");

var $toastContent = $('<span>La categoría se creó.</span>');
Materialize.toast($toastContent, 5000);
