<%= simple_form_for([@profile, @review]) do |f| %>
<div class="center">
  <p>
    <div id="star-rating"></div>
  </p>
  <%= f.input :comment, label:"Tu Comentario"  %>
  <%= f.submit "Guardar", class:"btn btn-lg btn-success" %>
</div>

<% end %>
<script>
  $('#star-rating').raty({    
    scoreName: 'review[rating]'
  });
</script>