    <div class="flex-row">
        <div class="panel-box col-xs-8 box-margin">
            <div class="box-header">Ultimos Seguidores</div>
            <div class="flex-row">
            <ul>
                <% profile.follows.each do |follower|%>
                        <li class="user_list">
                            <%= image_tag(follower.client.clientprofile.avatar(:mini), class:"circle responsive-img") %>
                            <%= follower.client.clientprofile.name %>                   
                        </li>
                <% end %>
            </ul>
            </div>
        </div>

        <div class="col-xs-4 box-margin">
            <div class="box-header only-header">Cupones</div>
            <% current_user.coupons.limit(3).each do |coupon| %>
                <div class="info-box">
                    <span class="info-box-icon blue">
                        <i class="material-icons white-text">local_offer</i>
                    </span>
                    <div class="info-box-content">
                        <%= coupon.code %><br>
                        <b><%= coupon.amount %>%</b>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
