<table class="striped responsive">
	<thead>
		<tr>
			<th data-field="id">Nombre</th>
			<th data-field="name">Categoría</th>
			<th data-field="price">Fecha Reg.</th>
			<th>Estado</th>
		</tr>
	</thead>
	<tbody>
		<% profiles.limit(limite).each do |profile| %>
		<tr>
			<td> <%= profile.name %> </td>
			<td> <%= if profile.category_id.present? then category(profile) end %> </td>
			<td> <%= if profile.created_at.present? then humanize_date(profile.created_at ) end %></td>
			<td> estado-ico </td>
		</tr>
		<% end %>
	</tbody>
</table>
