<%= simple_form_for(@market, remote: true )do |f| %>

<div class="row">
  <div class="col-xs-4">
    <%= f.input :title %>
  </div>
  <div class="col-xs-4">
    <%= f.input :icon %>
  </div>
  <div class="col-xs-4">
    <%= f.submit %>
  </div>
</div>

<% end %>
